fastapi[standard]==0.119.1
uvicorn[standard]==0.35.0   # replace <latest-major> with actual version
langchain==1.0.1
groq
qdrant-client==1.15.1
sentence-transformers==5.1.1
codecarbon==2.0.0
requests==2.31.0
tqdm==4.66.1
python-dotenv==1.1.1
beautifulsoup4==4.12.2
streamlit==1.50.0
PyPDF2>=3.0.0     # or switch to pypdf
APScheduler==3.11.0
